
<div >
  <div class="container">
    <div class="dashboard-grid text-center" style="height: calc(100vh - 70px);">
      <div class="user-info grid-element">
        <%= render 'user-info' %>
      </div>
      <div class="user-boats grid-element">
        <%= render 'user-boats' %>
      </div>
      <div class="user-bookings-tab grid-element">
        <%= render 'user-bookings-tab' %>
      </div>
    </div>
  </div>
</div>

  <%= javascript_pack_tag 'dashboard' %>
