
<div class="element">
  <div class="balletje">

  </div>

</div>


<style>
  .element {
    height: 2000px;
    width: 100%;
  }
  .balletje {
    border-radius: 50%;
    background: yellow;
    height: 50px;
    width: 50px;
    position: sticky;
    left: 10px;
    top: 10px;
  }
</style>


