.banner-adjusted-height{
  height: calc(100vh - 70px) !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
}
.banner-adjusted-height h1 {
  font-size: 50px;
  color: rgb(250,250,250);
  // font-weight: normal;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-adjusted-height p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-form {
  width: 500px;
  background-color: rgba(250,250,250,0.1);
  padding: 40px;
  border-radius: 15px;
  margin-top: -30px;
}

.banner .form-control {
  box-shadow: none;
  font-size: 18px;
  color: white;
  font-weight: normal

}

// #banner-margin-top {
//   margin-top: -50px;
// }

