.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 15px;
  transition: all 0.3s ease;
  border-radius: 3px;
}


.card-large {
  height: 25vh;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top: 15px;
  transition: all 0.3s ease;
  border-radius: 5px;
  background-color:#FFFFFF;


}

.card-wrapper {
  background-color: #F4F4F4;
  height: 175px;
  padding: 10px 0px;
  margin: 10px 0px;
  position: relative;

}

.card-wrapper:hover > .card {
  margin-top: -1px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
  margin-left: 0px;
  margin-right: 0px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  text-align: left;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.card-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: rgb(250,250,250);
  &:hover {
    color: rgb(220,220,220);
  }
}

.card-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: left;

  p {
    margin-bottom: 0px;
    color:#282922;
  }

}

.card-status {
  position: absolute;
  top: 15px;
  right: 65px;
  color:white;
}

.card-summary {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: 300;
  color:#282922;
  font-size: 13px;

}

.card-cancel {
    position: absolute;
    bottom: 16px;
    right: 405px;
}

.card-status-actions {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 385px;
}

.card-price{
  font-weight: 100;
  color:#282922;
}


.card-picture{
  position: absolute;
  height:100%;
  width: 400px;
  justify-content: right;
  padding: 10px 20px;
  border-radius: 65px;
}
