.transparent-input {
  background: none;
  border-bottom: white solid 1px !important;
  border: none;
  font-size: 14px;
  padding-left: 0px;
}

.date-container {
  display: flex;
  justify-content: space-around;
  font-weight: normal;
}

#new_booking{
  justify-content: space-around;

}
