.btn-transparent {
    background: rgba(220,220,220,0.2);
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;

    &:hover {
      background: rgba(220,220,220,0.4);
    }
}

.btn-cancel {
  background: rgba(158, 44, 37, 0.4);
  padding: 5px;

  &:hover {
    background: rgba(158, 44, 37, 0.7);

  }
}
