<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,90,70,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://images.pexels.com/photos/910154/pexels-photo-910154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Rent your Boat</h1>
    <p>Experiences Worldwide</p>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>



<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to boat_path(boat) do %>
      <div class="card-wrapper">
       <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
       url('<%= cl_image_path boat.photo, height: 300, width: 400, crop: :fill if boat.photo.url %>')">
       <div class="card-description">
        <h2><%= boat.name.capitalize %></h2>
      </div>
      <!--  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
    </div>
  </div>
  <% end %>
</div>
<% end %>
</div>
</div>







